.home-container {
    padding: 40px;
    background-color: #FFFF;
    
}
.home-container p {
    font-size: 14px;
    color: #7E7E7E;
    background-color: #FFFF;
    font-size: 700;
}

.start-button {
    color: #fff;
}